<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:security="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>

    <security:http auto-config="true" use-expressions="true">
        <security:csrf disabled="true"/>


        <security:form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/erro"
                username-parameter="username"
                password-parameter="senha"/>

        <security:access-denied-handler error-page="/acessonegado"/>


        <!--         		<security:custom-filter position="LAST" ref="usernamePasswordAuthenticationFilter"/> -->

        <!--     	 <security:logout logout-success-url="/" /> -->
        <security:intercept-url pattern="/resources/**" access="permitAll"/>
        <security:intercept-url pattern="/login**" access="permitAll"/>
        <security:intercept-url pattern="/erro**" access="permitAll"/>
        <security:intercept-url pattern="/acessonegado**" access="permitAll"/>
        <security:intercept-url pattern="/cardapio**" access="permitAll"/>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_MEMBRO')"/>
        <security:intercept-url pattern="/usuario/movimentacao" access="hasRole('ROLE_ADM')"/>
        <security:intercept-url pattern="/financeiro/movimentacao" access="hasRole('ROLE_FINANCEIRO')"/>
        <security:intercept-url pattern="/pedidocompra/movimentacao" access="hasRole('ROLE_COMPRA')"/>
        <security:intercept-url pattern="/formapagamento/movimentacao" access="hasRole('ROLE_FINANCEIRO')"/>


        <security:logout logout-success-url="/" invalidate-session="true" delete-cookies="true"/>
        <!--         		<security:intercept-url pattern="/**" access="isAnonymous()"/> -->

    </security:http>


    <b:bean id="usernamePasswordAuthenticationFilter"
            class="com.tecsoluction.restaurante.security.UsernamePasswordAuthenticationFilter">
        <b:property name="authenticationManager" ref="authenticationManager"/>
        <b:property name="authenticationFailureHandler" ref="failureHandler"/>
        <b:property name="authenticationSuccessHandler" ref="successHandler"/>

    </b:bean>


    <b:bean id="successHandler"
            class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <b:property name="defaultTargetUrl" value="/"/>
    </b:bean>
    <b:bean id="failureHandler"
            class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <b:property name="defaultFailureUrl" value="/erro"/>
    </b:bean>

    <!--  <b:bean id="myAuthenticationProvider" class="com.tecsoluction.reuniao.security.MyAuthenticationProvider"></b:bean> -->


    <security:authentication-manager alias="authenticationManager">

        <security:authentication-provider>

            <security:jdbc-user-service data-source-ref="dataSourceHeroku"

                                        users-by-username-query="SELECT username, senha ,'true' as enable FROM usuario WHERE username=?"

                                        authorities-by-username-query="SELECT usuario.username, role.name as authorities
  										FROM usuario, usuario_role ,role
   										WHERE usuario.username = ? AND usuario.id = usuario_role.idusuario AND role.id=usuario_role.idrole"/>

        </security:authentication-provider>

    </security:authentication-manager>

</b:beans>
