.modal {
     z-index: 99999 !important;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.3);
     height: 0 auto;
     
     
}


.login {
	
width: 30%;
height: auto;
margin-left: 35%;
	
	
}

.login input {
	
	margin:1em;
	height: 3em;
	width: 100%;
	
}

.text-info headtable {
	
	
	
	
}

#cupom {
	
background-color: yellow;
width: 40%;
height: 60%;

	
	
	
}