.modal {
     z-index: 99999 !important;
     position: absolute;
     background-color: #fff;
     height: 0 auto;
}


.login {
	
width: 30%;
height: auto;
margin-left: 35%;
	
	
}

.login input {
	
	margin:1em;
	height: 3em;
	width: 100%;
	
}

.text-info headtable {
	
	
	
	
}

/* @media (max-width: 767px) */
/* .modal { */
/*     position: absolute; */
/*     top: 20px; */
/*     right: 20px; */
/*     left: 20px; */
/*     width: auto; */
/*     margin: 0; */
/* } */

/* .hide { */
/*     display: none; */
/* } */

/* .modal { */
/*     position: fixed; */
/*     top: 10%; */
/*     left: 50%; */
/*     z-index: 1050; */
/*     width: 560px; */
/*     margin-left: -280px; */
/*     background-color: #fff; */
/*     border: 1px solid #999; */
/*     border: 1px solid rgba(0,0,0,0.3); */
/*     -webkit-border-radius: 6px; */
/*     -moz-border-radius: 6px; */
/*     border-radius: 6px; */
/*     outline: 0; */
/*     -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     -webkit-background-clip: padding-box; */
/*     -moz-background-clip: padding-box; */
/*     background-clip: padding-box; */
/* } */