.imput{
	
font-style: oblique;
font-weight: bold;
font-family: cursive;
color: gray;
text-align: center;	
	
}

.imput input {
	
	
color: green;
}

/* .icon icon-home { */
/* 	background-image:url("resources/images/icons/16/categoria.png"); */
/* } */
