.modal {
     z-index: 99999 !important;
     position: absolute;
     background-color: #fff;
     height: 0 auto;
}


.login {
	
width: 30%;
height: auto;
margin-left: 35%;
	
	
}

.login input {
	
	margin:0;
	height: 3em;
	width: 100%;
	
}

.text-info headtable {
	
	
	
	
}

/* @media (max-width: 767px) */
/* .modal { */
/*     position: absolute; */
/*     top: 20px; */
/*     right: 20px; */
/*     left: 20px; */
/*     width: auto; */
/*     margin: 0; */
/* } */

/* .hide { */
/*     display: none; */
/* } */

/* .modal { */
/*     position: fixed; */
/*     top: 10%; */
/*     left: 50%; */
/*     z-index: 1050; */
/*     width: 560px; */
/*     margin-left: -280px; */
/*     background-color: #fff; */
/*     border: 1px solid #999; */
/*     border: 1px solid rgba(0,0,0,0.3); */
/*     -webkit-border-radius: 6px; */
/*     -moz-border-radius: 6px; */
/*     border-radius: 6px; */
/*     outline: 0; */
/*     -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     box-shadow: 0 3px 7px rgba(0,0,0,0.3); */
/*     -webkit-background-clip: padding-box; */
/*     -moz-background-clip: padding-box; */
/*     background-clip: padding-box; */
/* } */

.signup-page .wrapper .card-signup {
    margin: 160px 0 40px;
}


.card .header-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}
.card .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 3px;
    padding: 15px 0;
    background-color: #FFFFFF;
}
.text-center {
    text-align: center;
}

.signup-page .wrapper .card-signup {
    margin: 160px 0 40px;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-signup .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
}
.card [class*="header-"] {
    color: #FFFFFF;
}
.card .header-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}
.card .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 3px;
    padding: 15px 0;
    background-color: #FFFFFF;
}
.text-center {
    text-align: center;
}